.quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  gap: 0.5rem;
}

.dialog {
  font-size: 1.2rem;
}

.link {
  color: #8ecae6;
}
